{{ define "multiple_roles" }}
<article class="my-4">
  <div class="text-gray-800 w-full">
    <div class="grid grid-cols-3 gap-3 text-lg font-medium text-violet-900">
      <h3 class="text-left col-span-2">{{ .Company }} <span class="font-light">({{ .Location }})</span></h3>
      <h3 class="text-right">{{ .Dates }}</h3>
    </div>
  </div>
  {{ range .Roles }}
  <div class="text-gray-800 w-full">
    <div class="grid grid-cols-3 gap-3">
      <h4 class="font-medium col-span-2">{{ .Position }}</h4>
      <h4 class="text-right">{{ .Dates }}</h4>
    </div>
  </div>
  <p class="text-gray-700 font-medium mb-2"></p>
  <div class="ml-4 mb-4">
    <ul class="list-disc list-outside text-gray-600">
      {{ range .Bullets }}
      <li>{{ .| md}}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</article>
{{ end }}
